@import "compass/css3";

// Colors
$black: rgb(0,0,0);
$black90: rgba(0,0,0,.85);
$light-grey: #F1F1F1;
$blue: #18A7E1;

$panel-side-gutter: 50px;
$panel-width: 175px;
$panel-bg-color: transparent;
$panel-content-color: $light-grey;
$panel-anchor: left;

// Mixins
@mixin transition($trans...) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -ms-transition: $trans;
  transition: $trans;
}

@mixin noselect() {
  -webkit-user-select: none;
  -moz-user-select: none;     
  -ms-user-select: none; 
  -o-user-select: none;
  user-select: none;   
}
// Functions


*, *:before, *:after {
  @include box-sizing(border-box);
}
ul, li {
  margin: 0;
  padding: 0;
}

body{
  background-color: $black90;
  font: 100% / 1;
  color: #B4B4B4;
  font: 400 12px / 1 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.panel-container {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: $panel-side-gutter;
  right: $panel-side-gutter;
}

.panel-controls {
  float: left;
  width : $panel-width;
  background-color: $panel-bg-color;
  height: 100%;
  font-size: 14px;
  padding: 10px 0;
  @include noselect();
  @include transition(width .3s);
    
  li {
    white-space: nowrap;
    padding: 5px 0;
    color: $light-grey;
    font-weight: 300;
    min-height: 50px;
    list-style: none;
    display: table;
    width: 100%;
    text-transform: uppercase;
    
    &:hover, &.active {
      a {
        color: $blue; 
      } 
    }
    &.active {
      a .caret {
        display: inline-block; 
      }
    }
    a {
      cursor: pointer;
      display: table-cell;
      vertical-align: middle;
      .label {
        opacity: 1;
        @include transition(opacity .3s)
      }
      i {
        width: 15px;
        margin-right: 10px; 
        text-align: center;
      }
      .caret {
        display: none;
        font-size: 35px;
        position: absolute;
        left: 165px;
        color: $panel-content-color;
        line-height: 50%;
        @include transition(left .3s);
      }
      
    }
    &.nav-control {
      a {
        color: $light-grey;
        i {
        font-size: 20px;
        }
      }
    }
  }
  // Collapsed Nav
  &.collapsed {
    width: 50px;
    li {
      a {
        .label {
          opacity: 0;  
        }
        .caret {
          left: 30px;
        }
      }  
    }
  }
}

section.panel-content {
  margin-left: $panel-width;
  height: 100%;
  @include transition(margin-left .3s);
  .main-wrapper {
    background-color: $panel-content-color;
    height: 100%;
    @include border-radius(3px);
  }
  .widget {
    padding: 10px;
  }
  
  &.collapsed {
    margin-left: 40px;  
  }
}

#documents {
  #collections {
      
  }
}