* {
  box-sizing: border-box;
  font-family: 'roboto', 'arial';
}

header {
  background: #000;
  padding: 10px 0;
}

header h2 {
  margin: 0;
  color: #ccc;
  padding: 6px;
  cursor: pointer;
  text-align: center;
}

header h2:hover {
  color: #fff;
}

body {
  margin: 0;
  background: #fff;
}

.wrapper {
  display: flex;
}

.panel {
  width: 0vw;
  padding: 15px;
  background-color: #ccc;
  height: calc(100vh - 29px);
  overflow: hidden;
  visibility: hidden;
}

.body {
  width: 100vw;
  padding: 15px;
  background-color: #fff;
}